<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuildTasks" allowedVersions="1.4.0.45" version="1.4.0.45" targetFramework="net45" />
  <package id="NUnit.Runners" allowedVersions="2.6.2" version="2.6.2" />
  <package id="SemVerHarvester" allowedVersions="0.3.0" version="0.3.0" />
</packages>